@model CategoryViewModel
@inject RoleManager<IdentityRole> roleManger
@inject UserManager<ApplicationUser> userManger
@{ 
    ViewData["Title"] = "Categories";
}

<section id="mobile-products" class="product-store position-relative padding-large" style="margin-top:5px">
      <div class="container">
        <div class="row">
          @*  <div class="col-md-6 col-lg-3  d-flex align-items-stretch mb-5 mb-lg-0 "> *@
          <div class="display-header d-flex justify-content-between pb-3">
            <h2 class="display-7 text-dark text-uppercase">Products</h2>
            <div class="btn-right">
              
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="card-tools">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-info rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="Reset()">
                                @Resource.btnSaveNewCategory
                            </button>
                        </div>
                    }
             </div>
          </div> 
         
              @foreach (var item in Model.Categories)
                {
              
                <div class="col-md-6 col-lg-3  d-flex align-items-stretch mb-5 mb-lg-5  ">
                     <div class="product-card position-relative ">
                        <h3 class="card-title text-uppercase text-center pb-3" style="color:slategray; font-size:30px; font-weight:bold">
                            @Html.ActionLink(item.Title, "Index", "Items", new { id = item.Id }, null)
                        </h3>
                                <div class="image-holder">
                                   
                                    <img src="/Images/Categories/@item.Image" alt="product-item" class="img-fluid" style="width:250Px;height:400px">
                                </div>
                                <div class="cart-concern position-absolute">
                                    <div class="cart-button d-flex">
                                <a href="#"  class="btn btn-medium btn-black">Start shopping journey<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a>
                                    </div>
                                </div>
                                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                                    <h3 class="card-title text-uppercase">
                                       
                                          <br />
                                         <p>@item.Description</p>
                                    </h3>
                                     
                                </div>
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="container-fluid">
                                        <input type="button" class="btn btn-success btn-sm" onclick="Edit('@item.Id','@item.Image','@item.Title','@item.Description')" value="@Resource.btnEdit" data-bs-toggle="modal" data-bs-target="#exampleModal" />
                                        <span>  |  </span>
                                        <input type="button" class="btn btn-danger btn-sm" onclick="Delete('@item.Id')" value="@Resource.btnDelete" data-bs-toggle="modal"/>

                                    </div>
                                }

                     </div>
                </div>

               
              }
               
        </div>
      </div> 
      <div class="swiper-pagination position-absolute text-center"></div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog"> 
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="title">@Resource.btnSaveNewCategory</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="AddOrUpdate" asp-controller="Category" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" hidden class="form-control" asp-for="newCategory.Id" id="categoryId" />

                    </div> 
                    <div class="form-group">

                        <label asp-for="@Model.newCategory.parantId" class="control-label">@Resource.lableCategoryName</label>
                        <select class="form-control" asp-for="@Model.newCategory.parantId" id="parant" asp-items="@(new SelectList( ViewBag.CategoeyTitle ,"Id","Title"))">
                            <option value="">@Resource.LableSelectCategory</option>

                        </select>

                        <span asp-validation-for="@Model.newCategory.parantId" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="@Model.newCategory.Image" class="control-label">@Resource.LableCategoryImage</label>
                        <input type="file" class="form-control" asp-for="newCategory.Image" id="ImageCategory" />

                        <span asp-validation-for="newCategory.Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="@Model.newCategory.Title" class="control-label">@Resource.LableTitle</label>
                        <input type="text" class="form-control" asp-for="newCategory.Title" id="categoryTitle" />

                        <span asp-validation-for="newCategory.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="@Model.newCategory.Description" class="control-label">@Resource.LableDescription</label>
                        <input type="text" class="form-control" asp-for="newCategory.Description" id="Description" />

                        <span asp-validation-for="newCategory.Description" class="text-danger"></span>
                    </div>
                     
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success btn-sm" value="@Resource.btnSaveNewCategory" id="btnSave" />
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Modal -->
@section Scripts {

    @if (!string.IsNullOrEmpty(Context.Session.GetString("msgType")))
    {
        if (Context.Session.GetString("msgType") == "Success")
        {
            <script>

                Swal.fire({
                    title: '@Context.Session.GetString("title")',
                    text: '@Html.Raw(@Context.Session.GetString("msg"))',
                    icon: 'success'
                    
                });
            </script>

        }
        else
        {
            <script>
                Swal.fire({
                    title: '@Context.Session.GetString("title")',
                    text: '@Html.Raw(@Context.Session.GetString("msg"))',
                    icon: 'error'
                });
            </script>
        }
        Context.Session.SetString("msgType", "");
    }



    <script src="~/models/categories.js"></script>
    <script src="~/Views/Shared/_ValidationScriptsPartial"></script>
}
