@model RolesViewModel 
@{
    ViewData["Title"] = "Role";
}


<div class="wrapper">
    <!-- Main content -->
    <section class="content" style="margin-top: 100px;">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-start">
                        <h1 class="card-title text-dark" style="margin-right:50px">@Resource.LableRoleUser</h1>
                        <div class="card-tools">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-info rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="Rest()">
                                @Resource.btnSaveNewRole
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="myTable" class="table table-bordered table-hover text-center">
                            <thead>
                                <tr>
                                    <td>@Resource.LableRoleName</td>
                                    <td>@Resource.InEvents</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Roles)
                                {
                                    <tr>
                                        <td style="font-size:30px">
                                            @switch (@item.Name)
                                            {
                                                case "SuperAdmin":
                                                    <span class="badge badge-danger text-dark " style="width:80%; ">@item.Name</span>
                                                    break;
                                                case "Admin":
                                                    <span class="badge badge-success text-dark" style="width:80%; ">@item.Name</span>
                                                    break;
                                                default:
                                                    <span class="badge badge-warning text-dark" style="width:80%;">@item.Name</span>
                                                    break;
                                            }
                                        </td>
                                        <td>
                                            <input type="button" class="btn btn-info" onclick="Edit('@item.Id','@item.Name')" value="@Resource.btnEdit" data-bs-toggle="modal" data-bs-target="#exampleModal" />
                                            <span>  |  </span>
                                            <input type="button" class="btn btn-danger" onclick="Delete('@item.Id')" value="@Resource.btnDelete" data-bs-toggle="modal" />
                                            @* <span>  |  </span> *@
                                            @* <a class="btn btn-success" asp-action="Index" asp-controller="Permissions" asp-route-RoleId="@item.Id">اداره الصلاحيات </a> *@
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="title">@Resource.btnSaveNewRole</h1>
                    <button type="button" class="btn btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="Role" asp-controller="Roles" method="post">
                        <div class="form-group">
                            <input type="text" hidden class="form-control" asp-for="newRole.RoleId" id="roleId" />

                            <label asp-for="newRole.RoleName" class="control-label">@Resource.LableRoleName</label>
                            <input type="text" class="form-control" asp-for="newRole.RoleName" id="roleName" />
                            <span asp-validation-for="newRole.RoleName" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-success" value="@Resource.btnSaveNewRole" id="btnSave" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- /.Modal -->

</div>


@section Scripts {

    @if (!string.IsNullOrEmpty(Context.Session.GetString("msgType")))
    {
        if (Context.Session.GetString("msgType") == "Success")
        {
            <script>

                Swal.fire({
                    title: '@Context.Session.GetString("title")',
                    text: '@Html.Raw(@Context.Session.GetString("msg"))',
                    icon: 'success'
                });
            </script>

        }
        else
        {
            <script>
                Swal.fire({
                    title: '@Context.Session.GetString("title")',
                    text: '@Html.Raw(@Context.Session.GetString("msg"))',
                    icon: 'error'
                });
            </script>
        }
        Context.Session.SetString("msgType", "");
    }

    <script src="~/Models/Roles.js"></script>
    <script src="~/Admin/Views/Shared/_ValidationScriptsPartial"></script>
}
