@using Domin.Models
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<!--Content-Header-->
<div class="content-header">
   
</div>
<!--End Content-Header-->
<!-- Main content -->
<section class="content" style="margin-top:100px">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6 ">
                                <h1 class="text-dark ">@Resource.LableUser</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item active"><a href="/Admin/Home/Index">@Resource.LableHomePage</a></li>
                                    <li class="breadcrumb-item ">@Resource.LableMange</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card-tools">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-info rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="Rest()">
                            @Resource.btnSaveNewUser
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="myTable" class="table table-bordered table-hover text-center">
                        <thead>
                            <tr>
                                <td>User Name</td>
                                <td>Role Name</td>
                                <td>User Email</td>
                                <td style="width:15%;">User Image</td>
                                <td>User Active</td>
                                <td>InEvents</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>

                                    <td>@user.Name</td>
                                    <td>
                                        @switch (@user.RoleName)
                                        {
                                            case "SuperAdmin":
                                                <span class="badge badge-danger " style="width:80%; ">@user.RoleName</span>
                                                break;
                                            case "Admin":
                                                <span class="badge badge-success" style="width:80%; ">@user.RoleName</span>
                                                break;
                                            default:
                                                <span class="badge badge-warning" style="width:80%;">@user.RoleName</span>
                                                break;
                                        }
                                    </td>
                                    <td>@user.Email</td>
                                    <td style="width:15%" text-center>
                                        <img src="/Images/Users/@user.ImageUser" class="img-bordered img-circle img-circle" style="width:50px;height:50px" />
                                        @user.ImageUser
                                    </td>

                                    <td style="width:10%"><input type="checkbox" class="checkbox" disabled checked="@user.ActiveUser" /></td>
                                    <td class="text-center" style="width:30%">
                                        <input type="button" class="btn btn-success btn-sm" onclick="Edit('@user.Id','@user.Name','@user.Email','@user.ImageUser','@user.RoleName','@user.ActiveUser')" value="@Resource.btnEdit" data-bs-toggle="modal" data-bs-target="#exampleModal" />
                                        <span>  |  </span>
                                        <input type="button" class="btn btn-danger btn-sm" onclick="Delete('@user.Id')" value="@Resource.btnDelete" data-bs-toggle="modal" />
                                        <span>  |  </span>
                                        <input type="button" class="btn btn-warning btn-sm" onclick="ChangePassword('@user.Id')" value="@Resource.ChangPassword" data-bs-toggle="modal" data-bs-target="#changePasswordModal" />
                                    
                                    </td>
                                </tr>
                               

                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /End content -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="title">@Resource.btnSaveNewUser</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Register" asp-controller="Register" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" hidden class="form-control" asp-for="NewRegister.Id" id="UserId" />
                        <input type="file" hidden class="form-control" asp-for="NewRegister.ImageUser" id="imageHide" />

                        <label asp-for="NewRegister.Name" class="control-label">@Resource.LableUserName</label>
                        <input type="text" class="form-control" asp-for="NewRegister.Name" id="UserName" />

                        <span asp-validation-for="NewRegister.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="NewRegister.Email" class="control-label">@Resource.LableUserEmail</label>
                        <input type="text" class="form-control" asp-for="NewRegister.Email" id="UserEmail" />

                        <span asp-validation-for="NewRegister.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <img src="@Helper.imagesPathUsers@Model.NewRegister.ImageUser" class="img-bordered img-circle img-circle text-hidden" style="width:35px;height:35px;" hidden id="imageHide" />
                    </div>
                    <div class="form-group">

                        <label asp-for="NewRegister.ImageUser" class="control-label">@Resource.LableUserImage</label>
                        <input type="file" class="form-control" asp-for="NewRegister.ImageUser" id="ImageUser" />

                        <span asp-validation-for="NewRegister.ImageUser" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="NewRegister.RoleName" class="control-label">@Resource.LableRoleName</label>
                        <select class="form-control" asp-for="NewRegister.RoleName" id="UserRole" asp-items="@(new SelectList(Model.Roles,"Name","Name"))">
                            <option value="">@Resource.LableSelectUserRole</option>

                        </select>

                        <span asp-validation-for="NewRegister.RoleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="NewRegister.ActiveUser" class="control-label">@Resource.LableUserActive
                            <input type="checkbox" class="form-check-input text-lg-center" asp-for="NewRegister.ActiveUser" id="ActiveUser" style="margin-top:30px" />
                        </label>
                    </div>
                    <div class="form-group" id="grPassword">
                         
                        <label asp-for="NewRegister.Password" class="control-label">@Resource.LableUserPassword</label>
                        <input type="password" class="form-control" asp-for="NewRegister.Password" id="userPassword" />

                        <span asp-validation-for="NewRegister.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="grComparPassword">

                        <label asp-for="NewRegister.ComparePassword" class="control-label">@Resource.LableUseruserComparePassword</label>
                        <input type="password" class="form-control" asp-for="NewRegister.ComparePassword" id="userComparePassword" />

                        <span asp-validation-for="NewRegister.ComparePassword" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success btn-sm" value="@Resource.btnSaveNewUser" id="btnSave" />
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Modal -->
<!-- Modal Chang Password -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="title">@Resource.ChangPassword</h1>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="ChangePassword" asp-controller="ChangePassword" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" hidden class="form-control" asp-for="ChangePassword.Id" id="userPasswordId" />

                        <label asp-for="ChangePassword.OldPassword" class="control-label">@Resource.LableOldPassword</label>
                        <input type="password" class="form-control" asp-for="ChangePassword.OldPassword" id="OldPassword" />
                        <span asp-validation-for="ChangePassword.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="ChangePassword.NewPassword" class="control-label">@Resource.LableNewPassword</label>
                        <input type="password" class="form-control" asp-for="ChangePassword.NewPassword" id="newPassword" />
                        <span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <label asp-for="ChangePassword.ComparPassword" class="control-label">@Resource.LableNewComparPassword</label>
                        <input type="password" class="form-control" asp-for="ChangePassword.ComparPassword" id="newComparPassword" />
                        <span asp-validation-for="ChangePassword.ComparPassword" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success btn-sm" value="@Resource.btnSaveNewPassword" id="btnSave" />
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- Modal Chang Password -->
@section Scripts {

    @if (!string.IsNullOrEmpty(Context.Session.GetString("msgType")))
    {
        if (Context.Session.GetString("msgType") == "Success")
        {
            <script>

                Swal.fire({
                    title: '@Context.Session.GetString("title")',
                    text: '@Html.Raw(@Context.Session.GetString("msg"))',
                    icon: 'success'
                });
            </script>

        }
        else
        {
            <script>
                Swal.fire({
                    title: '@Context.Session.GetString("title")',
                    text: '@Html.Raw(@Context.Session.GetString("msg"))',
                    icon: 'error'
                });
            </script>
        }
        Context.Session.SetString("msgType", "");
    }


    <script src="~/Models/Register.js"></script>
    <script src="~/Admin/Views/Shared/_ValidationScriptsPartial"></script>
}
